.wrapper{
    height: 110vh;
    width: 100%;
    background-image: url('../../asset/image/bodyImg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
    position: sticky;
}


@media (max-width: 768px) {
    .wrapper {
      height: 89vh;
      padding-bottom: 80px;
      overflow-y: hidden;
      position: sticky;
    
    }
  }